<div class="code">
<span><span class="B4">int main() </span></span>
<span>{</span>
<span>  <span class="B3">int a = 0; </span></span>
<span>  if (<span class="B3">a < 10 </span>) {</span>
<span>    <span class="B2">a++; </span></span>
<span>  }</span>
<span>  <span class="B1">return 0; </span></span>
<span>}</span>
</div>